@model Core.Domain.smPost
<html>
<head>
    <title>

    </title>
    <link rel="canonical" href="www.ass.fik" title="rohit-grover">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Social Media" />
    <meta property="og:url" content="www.ass.fik" />
    <meta property="twitter:title" content="Tittle" />
    <meta property="twitter:description" content="content content content contentcontentcontentcontentcontentcontent" />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg"/>
    <meta name="twitter:creator" content="smartdataincltd" />
</head>
<body>

</body>
</html>
