@model Core.Domain.smPost
<html>
<head>
    <title>

    </title>
    <link rel="canonical" href="@Model.Url" title="rohit-grover">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Social Media" />
    <meta property="og:url" content="@Model.Url" />
    <meta property="twitter:title" content="@Model.Caption" />
    <meta property="twitter:description" content="@Model.Description" />
    <meta name="twitter:creator" content="smartdataincltd" />
</head>
<body>

</body>
</html>


