@{
    ViewBag.Title = "::User Activity::";
    Layout = "~/Views/Shared/_AdminInnerLayout.cshtml";
}

<script src="~/Scripts/Admin/GetActivityLog.js"></script>

<script type="text/javascript">
  @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    // Antiforgery Token
    var token = '@TokenHeaderValue()';
    // alert(token);
    var headers = {};
    headers["RequestVerificationToken"] = token;
</script>

<section class="wrapper scrollable">
    <h3>User Activity</h3>
    <div id="custom-toolbar" class="filter-sction">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="Name" placeholder="Name" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="Email" placeholder="Email Id" type="text"></div>
            @*<div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="Role" placeholder="Role" type="text"></div>*@
            @if (smartData.Common.SessionManager.LoggedInUser.UserType == 3)
            {
                <div class="col-md-2 col-sm-6 col-xs-6">
                    @Html.DropDownList("Roles", new List<SelectListItem>
                     {
                        //new SelectListItem() {Text = "Select Roles---"},
                        new SelectListItem() {Text = "User", Value="1"},
                        new SelectListItem() {Text = "Admin", Value="2"},
                         new SelectListItem() {Text = "All", Value="3"},
                      }, new { @class = "form-control", @id = "Role" })
                </div>
            }
            <div class="col-md-3 col-sm-6 col-xs-6">
                <button class="btn btn-success greenbtn" id="btnFilter" type="button" value="Filter" name="btnFilter">Filter</button>
                <button class="btn btn-info reset-filter btn-circlr" disabled id="resetBtn">Reset</button>
            </div>
        </div>
    </div>

    <table class="table table-hover" data-toolbar="#post" data-show-columns="true" data-show-filter="true" data-click-to-select="true" id="grid">
        <thead>
            <tr>
                <th data-field="FirstName">First Name</th>
                <th data-field="LastName">Last Name</th>
                <th data-field="ClinicStaffRoleName">Email Id</th>
                <th data-field="EmailId">Photo</th>
            </tr>
        </thead>
    </table>
</section>

@{
    var userId = smartData.Common.SessionManager.LoggedInUser.UserID;
}

<input type="hidden" id="TokenValue" value='@TokenHeaderValue()' />
<input type="hidden" id="currentUserId" value='userId' />
<input type="hidden" id="hdnusertype" value="@smartData.Common.SessionManager.LoggedInUser.UserType" />
