@model smartData.Models.User.UserDashboardModel

@{
    ViewBag.Title = "::Social Media::";
    Layout = "~/Views/Shared/_AdminInnerLayout.cshtml";


}


<script src="~/Scripts/Admin/GetAdminUsersList.js"></script>
<script type="text/javascript">

  @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;

        }
    }
    // Antiforgery Token
    var token = '@TokenHeaderValue()';
    // alert(token);
    var headers = {};
    headers["RequestVerificationToken"] = token;


</script>

<section class="wrapper scrollable">
    @*<div class="row socialmediaall socialmediaall_manage">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="commohead">Admin List</h3>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">


            </div>
        </div>*@
    <h3>Manage Admin</h3>
    <div id="custom-toolbar" class="filter-sction">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="firstName" placeholder="First Name" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="lastName" placeholder="Last Name" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="emailId" placeholder="Email Id" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <button class="btn btn-success greenbtn" id="btnFilter" type="button" value="Filter" name="btnFilter">Filter</button>
                <button class="btn btn-info btn-sm reset-filter btn-circlr" disabled id="resetBtn">Reset</button>
            </div>
        </div>

        <div class="row mrgntp">
            <div class="col-sm-12">
                <button type="button" id="addStaffbtn" class="btn btn-primary btn-sm add-btn btn-circlr" data-toggle="modal" data-target="#addStaff" style="display:none">Add</button>
            </div>
        </div>
    </div>

    <table class="table table-hover" data-toolbar="#post" data-show-columns="true" data-show-filter="true" data-click-to-select="true" id="grid">
        <thead>
            <tr>
                <th data-field="FirstName">First Name</th>
                <th data-field="LastName">Last Name</th>
                <th data-field="ClinicStaffRoleName">Email Id</th>
                <th data-field="EmailId">Photo</th>

            </tr>
        </thead>
    </table>
</section>

@*<h3 class="pageHeading"><span class="fa fa-users"></span> Manage Social Media Accounts </h3>*@
@*<div id="custom-toolbar" class="filter-sction">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="firstName" placeholder="First Name" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="lastName" placeholder="Last Name" type="text"></div>
            <div class="col-md-3 col-sm-6 col-xs-6"><input class="form-control" id="emailId" placeholder="Email Id" type="text"></div>

        </div>

        <div class="row mrgntp">
            <div class="col-sm-12">
                <button class="btn btn-success greenbtn" id="btnFilter" type="button" value="Filter" name="btnFilter">Filter</button>
                <button class="btn btn-info btn-sm reset-filter btn-circlr" disabled id="resetBtn">Reset</button>
                <button type="button" class="btn btn-primary btn-sm add-btn btn-circlr" data-toggle="modal" data-target="#addStaff">Add</button>
            </div>
        </div>
    </div>*@
@{
    
    var userId = smartData.Common.SessionManager.LoggedInUser.UserID;
        
}
<input type="hidden" id="TokenValue" value='@TokenHeaderValue()' />
<input type="hidden" id="currentUserId" value='userId' />

<div class="modal" id="addStaff" tabindex="-1" role="dialog" aria-labelledby="addStaff">
    <div class="modal-dialog" role="document">
        @Html.Partial("_AddAdminPartial", Model)
    </div>
</div>
